AppData/
Application Data/
Cookies/
Local Settings/
NetHood/
PrintHood/
Recent/
SendTo/
Start Menu/
Templates/
My Music/
My Pictures/
My Videos/
desktop.ini
 2023/
        CK/
        Python Scripts/
